.credentials{
  overflow: hidden;
  height: 100vh;
  width: auto;
  overflow-y: scroll;
  overflow-x: scroll;
  background-color: lightgray;

  /* width: 100vw; */

}

.form-style-9{
	max-width: 450px;
	background: #FAFAFA;
	padding: 30px;
	margin: 150px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid darkslategray;
}
.form-style-9 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.form-style-9 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}

.button-login {
  align-items: center;
  background-color: rgb(112, 167, 2);
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 36px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-login:focus {
  color: #171e29;
}

.button-login:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: rgb(112, 167, 2);
}

.button-login:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: rgb(112, 167, 2);
}

.button-signUp {
  align-items: center;
  background-color: #06f;
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 36px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-signUp:focus {
  color: #171e29;
}

.button-signUp:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.button-signUp:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}