.rightbar{
    height: 90vh;
    width: auto;
    overflow-y: scroll;
    top:auto;
    bottom: 0;
    border-left: 2px solid darkgray;
    background-color: lightgray;
    
    
}

.rightbar_header{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.rightbar_subheader{
    text-align: center;
    text-decoration: underline;
    color: darkslategray;
}

.todo_item{
    height: 80px;
    width: 95%;
    margin: 10px;
    background-color: whitesmoke;
    font-family: Inter,sans-serif;
    text-align: center;
    justify-content: center;
    letter-spacing: -.8px;
    cursor: pointer;
    padding: 5px 5px;
    transition: all .3s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.todo_item.gray_out{
    background-color: darkgray;
}

.gray_out {
    background-color: whitesmoke;
}

/* .input[id^="toggle"] ~.todo_item{
    height: 80px;
    width: 95%;
    margin: 10px;
    background-color: darkgray;
    font-family: Inter,sans-serif;
    text-align: center;
    justify-content: center;
    letter-spacing: -.8px;
    cursor: pointer;
    padding: 5px 5px;
    transition: all .3s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
} */

.todo_item:hover{
    box-shadow: #06f 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

::-webkit-scrollbar {
    width: 20px;
  }
::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: darkslategray;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}


